{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>
        <span class="svg-wrapper">
          
<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.5253 12.1378C13.2871 12.4888 13.0148 12.8191 12.7106 13.1233C12.0817 13.7523 11.3351 14.2512 10.5134 14.5916C9.69168 14.932 8.811 15.1072 7.92161 15.1072C7.03222 15.1072 6.15154 14.932 5.32985 14.5916C4.50816 14.2512 3.76155 13.7523 3.13266 13.1233C2.50376 12.4944 2.0049 11.7477 1.66454 10.9259C1.39005 10.2631 1.223 9.56198 1.16862 8.84886C1.27952 10.3408 1.88259 11.7617 2.89394 12.8823C4.06757 14.1827 5.6996 14.9774 7.44695 15.0994C9.1943 15.2214 10.9209 14.6611 12.2637 13.5363L12.6416 13.2198L16.3644 16.9362L12.6458 13.2172L12.9825 12.8374C13.1795 12.6151 13.3607 12.3813 13.5253 12.1378ZM7.88325 0.500078C9.91375 0.491046 11.8687 1.26967 13.3371 2.67227C14.8055 4.07487 15.673 5.9922 15.7573 8.02122C15.8345 9.88026 15.2486 11.7004 14.1139 13.161L19.5755 18.6233C19.68 18.718 19.7649 18.8323 19.8255 18.9598C19.8892 19.094 19.9245 19.2399 19.9291 19.3883C19.9338 19.5368 19.9077 19.6846 19.8525 19.8225C19.7974 19.9604 19.7143 20.0854 19.6086 20.1897C19.5028 20.294 19.3767 20.3752 19.238 20.4285C19.0993 20.4817 18.9512 20.5056 18.8028 20.4989C18.6545 20.4921 18.5091 20.4548 18.3759 20.3892C18.2507 20.3275 18.1387 20.2422 18.0461 20.1379L12.5668 14.6681C11.0729 15.767 9.23256 16.3045 7.37192 16.1747C5.34632 16.0333 3.45442 15.112 2.0939 13.6045C0.733389 12.097 0.0102299 10.1207 0.0764423 8.09097C0.142655 6.06128 0.993082 4.1363 2.44895 2.7207C3.90483 1.30509 5.85275 0.509109 7.88325 0.500078ZM7.92161 2.6382C6.41124 2.6382 4.96272 3.23827 3.89473 4.3064C3.36591 4.83528 2.94643 5.46316 2.66023 6.15418C2.37404 6.8452 2.22674 7.58582 2.22674 8.33378C2.22674 9.08173 2.37404 9.82236 2.66023 10.5134C2.94643 11.2044 3.36591 11.8323 3.89473 12.3612C4.42354 12.89 5.05134 13.3096 5.74228 13.5958C6.43321 13.882 7.17375 14.0294 7.92161 14.0294C8.66947 14.0294 9.41001 13.882 10.1009 13.5958C10.7919 13.3096 11.4197 12.89 11.9485 12.3612C13.0165 11.293 13.6165 9.84434 13.6165 8.33378C13.6165 6.82322 13.0165 5.37453 11.9485 4.3064C10.8805 3.23827 9.43198 2.6382 7.92161 2.6382Z" fill="#4A4A4A"/>
</svg>

        </span>
        <span class="svg-wrapper header__icon-close">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
      </span>
    </summary>
    <div
      class="search-modal modal__content gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-reset.svg' | inline_asset_content -}}
              </span>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <span class="svg-wrapper">
                {{- 'icon-search.svg' | inline_asset_content -}}
              </span>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
        <button
          type="button"
          class="search-modal__close-button modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    </div>
  </details>
</details-modal>
