{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          
<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="33" height="33" rx="16.5" stroke="white"/>
<path d="M21.3452 18L21.8083 15.1044H18.9128V13.2253C18.9128 12.4331 19.3173 11.6609 20.6141 11.6609H21.9304V9.19563C21.9304 9.19563 20.7359 9 19.5938 9C17.2092 9 15.6506 10.3869 15.6506 12.8975V15.1044H13V18H15.6506V25H18.9128V18H21.3452Z" fill="white"/>
</svg>

        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          
<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="33" height="33" rx="16.5" stroke="white"/>
<path d="M17.002 12.8911C14.7332 12.8911 12.8957 14.7286 12.8957 16.9974C12.8957 19.2661 14.7332 21.1037 17.002 21.1037C19.2708 21.1037 21.1083 19.2661 21.1083 16.9974C21.1083 14.7286 19.2676 12.8911 17.002 12.8911ZM17.002 19.663C15.5301 19.663 14.3363 18.4693 14.3363 16.9974C14.3363 15.5255 15.5301 14.3317 17.002 14.3317C18.4739 14.3317 19.6676 15.5255 19.6676 16.9974C19.6676 18.4693 18.4739 19.663 17.002 19.663Z" fill="white"/>
<path d="M20.2989 9.0504C18.827 8.98165 15.1801 8.98477 13.7082 9.0504C12.4113 9.10977 11.2707 9.4254 10.3488 10.3442C8.81131 11.8848 9.00818 13.9567 9.00818 16.9974C9.00818 20.1099 8.83631 22.1349 10.3488 23.6505C11.8926 25.1943 13.9957 24.9912 17.002 24.9912C20.0833 24.9912 21.1489 24.9943 22.2396 24.5724C23.7208 23.9974 24.8396 22.6724 24.949 20.2943C25.0177 18.8224 25.0146 15.1755 24.949 13.7036C24.8177 10.8942 23.3083 9.1879 20.2989 9.0504ZM22.6271 22.6318C21.6177 23.6412 20.2177 23.5505 16.9801 23.5505C13.6457 23.5505 12.3113 23.6005 11.3332 22.6224C10.2113 21.5036 10.4144 19.7099 10.4144 16.988C10.4144 13.3036 10.0363 10.6504 13.7332 10.4629C14.5832 10.4317 14.8332 10.4223 16.9708 10.4223L17.002 10.441C20.5552 10.441 23.3427 10.0692 23.5083 13.7661C23.5458 14.6098 23.5552 14.863 23.5552 16.9974C23.5552 20.2911 23.6177 21.6349 22.6271 22.6318Z" fill="white"/>
<path d="M21.2708 13.688C21.8006 13.688 22.2301 13.2585 22.2301 12.7286C22.2301 12.1987 21.8006 11.7692 21.2708 11.7692C20.7409 11.7692 20.3114 12.1987 20.3114 12.7286C20.3114 13.2585 20.7409 13.688 21.2708 13.688Z" fill="white"/>
</svg>

        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-youtube.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          
<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="33" height="33" rx="16.5" stroke="white"/>
<path d="M13.6 9H8L14.608 17.8112L8.36 25H10.48L15.5904 19.1208L20 25H25.6L18.7136 15.8176L24.64 9H22.52L17.7312 14.5088L13.6 9ZM20.8 23.4L11.2 10.6H12.8L22.4 23.4H20.8Z" fill="white"/>
</svg>

        </span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
